@import "tailwindcss";
@tailwind utilities;
:root {
    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;
    --item2-transform: translateX(0);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;
    --item3-transform: translate(50%, 10%) scale(0.8);
    --item3-filter: blur(10px);
    --var3-zIndex: 9;
    --item3-opacity: 1;
    --item4-transform: translate(90%, 20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
    --item5-transform: translate(120%, 30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( black, #531575);
    font-family: 'Poppins', sans-serif;
}


/* Animation keyframes */

@keyframes showContent {
    from {
        transform: translateY(-30px);
        filter: blur(10px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes transformFromPosition2 {
    from {
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}

@keyframes transformFromPosition3 {
    from {
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    }
}

@keyframes transformFromPosition4 {
    from {
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}

@keyframes transformFromPosition5 {
    from {
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}

@keyframes transformFromPosition1 {
    from {
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);
    }
}


/* Responsive styles */

@media screen and (max-width: 991px) {
    /* ipad, tablets */
    .carousel .list .item {
        width: 90%;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
        overflow: auto;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 767px) {
    /* mobile */
    .carousel {
        height: 600px;
    }
    .carousel .list .item {
        width: 100%;
        font-size: 10px;
    }
    .carousel .list {
        height: 100%;
    }
    .carousel .list .item:nth-child(2) .introduce {
        width: 50%;
    }
    .carousel .list .item img {
        width: 40%;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail {
        backdrop-filter: blur(10px);
        font-size: small;
    }
    .carousel .list .item:nth-child(2) .introduce .des,
    .carousel.showDetail .list .item:nth-child(2) .detail .des {
        height: 100px;
        overflow: auto;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail .checkout {
        display: flex;
        width: max-content;
        float: right;
    }
}